<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf- 8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name = "viewport" content="width-device-width,intial-scale=1,shrink-to-fit=0"?\>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/design.css') }}">    
        <title>house price predictor</title>
    </head>
    <body>
        {{ nav.my_navbar.render(renderer='simple') }}
    <center>
    <h1>Welcome to our house price predictor!</h1></center>
    <p>Are you thinking about buying a new home or investment property, but not sure how much you should pay? Our house price predictor can help.
With just a few clicks, you can get a prediction of the market value of any property in the India.
    </p>
    <p>
Our predictor is powered by a machine learning model that has been trained on a large dataset of real estate transactions. 
It takes into account various factors that can affect the price of a home, such as location, size, age, and amenities.
    </p>
    <p>
To use our predictor, simply enter the address of the property you're interested in and answer a few questions about the home.
Within seconds, you'll get a prediction of the market value, along with a confidence interval to show the level of uncertainty.
    </p>
    <p>
We hope our house price predictor will be a useful tool for you as you navigate the real estate market. Happy house hunting!
    </p>

    </p>
